.brief-table {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    font-size: x-small;
}

.brief-table-entry {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.brief-table-entry-header {
    font-weight: bold;
}

.brief-table-entry-right {
    text-align: right;
}
