.brief-table {
    display: grid;
    /* Step, Type, Description, Features A, Features B, Features C, Transit, Duration  */
    grid-template-columns: auto auto auto auto auto auto auto auto;
    font-size: x-small;
}

.brief-table-entry {
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto; */
}

.brief-table-entry-right {
    text-align: right;
}

/* .brief-table-entry-center {
    text-align: center;
} */

.brief-table-entry-bold {
    font-weight: bold;
}

.brief-table-header {
    font-weight: bold;
    text-align: center;
}