/* html {
    height: 100%;
} */

.fp-user-buttons-frame {
    display: flex;
    flex: 0 1 1;
    flex-direction: row;
    background-color: var(--theme-bg-border);
    padding: 0.1em;
}

.fp-user-buttons {
    flex: 1 0 0;
    margin: 0.1em;
    padding: 0.5em;
    border-radius: 0;
}

/* ========================== */
/*          Main View         */
/* ========================== */

#fp-main {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    overflow: hidden;
}

#fp-map {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

.fp-map-sub {
    flex: 1 0 0;
}

#fp-map-help {
    display: none;
    overflow: scroll;
    padding: 1em;
}

#fp-summary {
    flex: auto;
    flex-grow: 0;
    width: 25%;
    /* display: flex; */
    /* flex-direction: column; */
    border-left: 2px solid black;
}

#fp-advanced {
    display: flex;
    flex-direction: column;
}



/* Main container */
/* https://codepen.io/CesarVMB/pen/kPOrQb */
.tab-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: min-content;
    background-color: var(--theme-bg-border);
}

/* Hide driving checkboxes */
.tab-container > input {
	height: 2.5em;
	display: none;
}

/* Tabs */
.tab-container > label {
	background: var(--theme-shadow);
	color: var(--theme-primary);
    /* border-style: solid; */
    /* border-left: solid 2px var(--theme-bg-border);
    border-right: solid 2px var(--theme-bg-border);
    border-top: solid 2px var(--theme-bg-border); */
	cursor: pointer;
	height: 2.5em;
	line-height: 2.5em;
	margin-top: .25em;
	margin-right: .25em;
	margin-left: .25em;
	/* padding: 0 1.5em; */
	text-align: center;
    font-weight: bold;
    display: block;
}

/* Hover for the tabs */
.tab-container > input:hover + label {
	background: var(--theme-highlight);
	color: var(--theme-primary);
}

/* Selected Tab */
.tab-container > input:checked + label {
	background: var(--theme-bg);
	color: var(--theme-primary);
}

/* Main content internal area */
.tab-content {
	background: var(--theme-bg);
	/* height: 100%;
	width: 100%; */
    display: block;
    grid-column: span 3;
    overflow: auto;
}

/* All tab items */
.tab-content > div {
	display: none;
	padding: 1em;
}

/* Shown content page */
/* XXX: Add and remove tab IDs here */
.tab-container input#tab-label-mission:checked ~ .tab-content #tab-item-mission,
.tab-container input#tab-label-stats:checked ~ .tab-content #tab-item-stats,
.tab-container input#tab-label-options:checked ~ .tab-content #tab-item-options {
    display: block;
    /* flex: auto; */
}

/* ========================== */
/*       Drawing Toolbar      */
/* ========================== */
/*
#fp-draw {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    background-color: black;
    padding: 0.1em;
}

.fp-draw-buttons {
    flex: 1 0 0;
    margin: 0.1em;
    border-radius: 0;
}
*/

/* ========================== */
/*     Management Toolbar     */
/* ========================== */
/*
#fp-manage {
    display: flex;
    flex: auto;
    flex-direction: row;
    padding: 0.1em;
    background-color: black;
}

.fp-manage-buttons {
    flex: 1 0 0;
    border-radius: 0;
}
*/

.fp-long-name {
    margin-left: 0.5em;
}

#print-section {
    display: none;
}

.help-highlight {
    background-color: var(--theme-highlight);
}

.help-highlight > .tab-container {
    background-color: var(--theme-highlight);
}

.help-highlight > .tab-container > .tab-content {
    background-color: var(--theme-highlight);
}

body{counter-reset: section}
h2{counter-reset: sub-section}
h3{counter-reset: composite}
h4{counter-reset: detail}

h2:before{
  counter-increment: section;
  content: counter(section) ". ";
}
h3:before{
  counter-increment: sub-section;
  content: counter(section) "." counter(sub-section) ". ";
}
h4:before{
  counter-increment: composite;
  content: counter(section) "." counter(sub-section) "." counter(composite) ". ";
}
h5:before{
  counter-increment: detail;
  content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) ". ";
}
