html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-bg);
}

.fp-user-buttons-frame {
    display: flex;
    flex: 0 1 1;
    flex-direction: row;
    background-color: var(--theme-bg-border);
    padding: 0.1em;
}

.fp-user-buttons {
    flex: 1 0 0;
    margin: 0.1em;
    border-radius: 0;
}

/* ========================== */
/*          Main View         */
/* ========================== */

#fp-main {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
}

#fp-map {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

#fp-map-interactive {
    flex: 1 0 0;
}

#fp-map-advanced {
    flex: 1 1 0;
}

#fp-summary {
    flex: 0 1 1;
}

#fp-plan {
    display: flex;
    flex-direction: column;
}

#fp-stats {
    display: flex;
    flex-direction: column;
}

#fp-advanced {
    display: flex;
    flex-direction: column;
}

/* ========================== */
/*       Drawing Toolbar      */
/* ========================== */
/*
#fp-draw {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    background-color: black;
    padding: 0.1em;
}

.fp-draw-buttons {
    flex: 1 0 0;
    margin: 0.1em;
    border-radius: 0;
}
*/

/* ========================== */
/*     Management Toolbar     */
/* ========================== */
/*
#fp-manage {
    display: flex;
    flex: auto;
    flex-direction: row;
    padding: 0.1em;
    background-color: black;
}

.fp-manage-buttons {
    flex: 1 0 0;
    border-radius: 0;
}
*/

.fp-long-name {
    margin-left: 0.5em;
}

@media only screen and (orientation: landscape) {
    /* For mobile phones: */
    #fp-map {
      flex-direction: row;
      height: auto;
    }
}

@media only screen and (max-width: 620px) {
    .fp-long-name {
        display: none;
    }
}
