#fp-stats-container {
    flex: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-bottom: 2px solid black;
}

#fp-stats {
    flex: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

#fp-stats-title {
    text-align: center;
    font-weight: bold;
}

#fp-stats-options {
    display: flex;
    margin: 0.1em;
}

.stats-option-label {
    flex: auto;
}

.stats-option-value {
    flex: auto;
    max-width: 5em;
}

#fp-plan-container {
    flex: auto;
    overflow: scroll;
}

#fp-plan {
    display: flex;
    flex-direction: column;
}

#fp-plan-title {
    text-align: center;
    font-weight: bold;
}

.mission-feature {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.2em;
    box-shadow: 4px 4px 4px #888888;
}

.mission-feature-title {
    flex: auto;
    display: flex;
    flex-direction: row;
}

.mission-feature-title-button {
    flex: auto;
    flex-grow: 0;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.mission-feature-title-text {
    font-weight: bold;
    flex: auto;
}

.mission-feature-content {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.mission-feature-content-item {
    flex: auto;
    display: flex;
    margin: 0.1em;
}

.mission-feature-content-label {
    flex: auto;
}

.mission-feature-content-value {
    flex: auto;
    max-width: 10em;
}

.brief-table {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    font-size: x-small;
}

.brief-table-entry {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.brief-table-entry-header {
    font-weight: bold;
}

.brief-table-entry-right {
    text-align: right;
}
