#fp-mission {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#fp-plan-container {
    flex: auto;
    overflow: scroll;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    scroll-behavior: smooth;
}

#fp-plan {
    display: flex;
    flex-direction: column;
}

#fp-plan-title {
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 4px var(--theme-shadow);
}

#mission-features-dragdrop {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--theme-highlight-thick);
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*
#mission-features-dragdrop-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: var(--theme-text-light);
} */

.mission-features-dragdrop-content {
    /* flex: auto; */
    font-size:x-large;
    color: var(--theme-text-light);
    padding: 1em;
    text-align: center;
}

.mission-features-dragdrop-content-large {
    font-size:xx-large;
}

.mission-feature {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-bg);
    border: 2px solid var(--theme-bg-border);
    border-radius: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    /* margin-left: 0.5em;
    margin-right: 0.5em; */
    scroll-margin: 0.25em;
    padding: 0.5em;
    box-shadow: 0px 2px 2px var(--theme-shadow);
}

.mission-feature-highlight {
    background-color: var(--theme-highlight);
    transition: 250ms linear all;
}

.mission-feature-highlight-remove {
    background-color: inherit;
    transition: 250ms linear all;
}

.mission-feature-hidden {
    background: var(--theme-shadow);
}

.mission-feature-title {
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.mission-feature-title-button-container {
    flex: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mission-feature-title-button,
.mission-feature-title-button-small {
    flex: auto;
    flex-grow: 0;
    margin-left: 0.1em;
    margin-right: 0.1em;
}


.mission-feature-title-button-small {
    display: none;
}

.mission-feature-title-text {
    font-weight: bold;
    flex: auto;
}
.mission-feature-content {
    flex: auto;
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 50% 50%;
    /* overflow: scroll; */
}

.mission-feature-content-label, .mission-feature-content-value {
    display: block;
    margin-top: 0.2em;
}

.mission-feature-content-value-center {
    text-align: center;
}

.mission-feature-content-subtitle {
    font-weight: bold;
}

.mission-feature-content-value-right {
    text-align: right;
}

.neuron-marker-poi {
    filter: hue-rotate(0deg);
}

.neuron-marker-corner {
    filter: hue-rotate(145deg);
}

.neuron-marker-waypoint {
    filter: hue-rotate(180deg);
}

.neuron-marker-line-start {
    filter: hue-rotate(80deg);
}

.neuron-marker-line-end {
    filter: hue-rotate(0deg);
}
