
/* Prefer portrait mode for very small screen sizes */
@media only screen and ((orientation: portrait) or (max-width: 620px)) {
    #fp-main {
        flex-direction: column;
    }

    #fp-map {
        max-height: 50%;
    }

    #fp-summary {
        height: 50%;
        width: 100%;
        border-left: 0px;
        border-top: 2px solid black;
    }

    .tab-container {
        grid-template-columns: auto auto;
        grid-template-rows: min-content auto;
    }

    .tab-content {
        grid-column: span 2;
        grid-row: 2;
    }

    .tab-container > label {
        /* height: 2.5em; */
        margin-top: 0;
        margin-right: .25em;
        margin-left: .25em;
        margin-bottom: 0;
        writing-mode: horizontal-tb;
        /* text-orientation: mixed; */
    }

    .tab-container > input:hover + label:before {
        top    : auto;
        left    : 20%;
        bottom  : 0;
        height  : 0.4em;
        width   : 60%;
        border-bottom: 0.2em solid var(--theme-highlight);
        border-bottom-style: inset;
        border-left-style: none;
    }

    .tab-container > input:checked + label:before {
        top    : auto;
        left    : 20%;
        bottom  : 0;
        height  : 0.4em;
        width   : 60%;
        border-bottom: 0.2em solid var(--theme-primary);
        border-bottom-style: inset;
        border-left-style: none;
    }
}

@media only screen and (max-width: 50em) {
    .fp-long-name {
        display: none;
    }

    .leaflet-control-attribution {
        display: none;
    }
}

@media (max-height: 40em) or (max-width: 50em) {
    .leaflet-control-attribution {
        display: none;
    }

    #fp-summary > * {
        font-size: x-small;
        /* width: 25em; */
    }

    /* .mission-feature-content-value {
        font-size: x-small;
    }

    .fp-stats-content-value {
        font-size: x-small;
    } */

    .mission-feature-title-button {
        display: none;
    }

    .mission-feature-title-button-small {
        display: block;
    }
}

@media only screen and (orientation: portrait) and (max-height: 400px) {
    #fp-summary {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (orientation: landscape) and (max-height: 400px) and (max-width: 620px) {
    #fp-map {
        max-height: 100%;
    }

    #fp-summary {
        display: none;
    }
}

@media print {
    @page {
        size: A4;
        margin: 10mm;
    }

    /* body > * {
        display: none;
    } */
    html {
        /* height: auto; */
        /*
        Manually set our height and width
        to make sure that we can scale the map
        properly for display later.
        Also account for page margin and a slight inset to make sure there's no unneeded overflow.
        */
        width: 190mm;   /* 210 */
        height: 276mm;   /* 297 */
    }

    body {
        height: auto;
        width: auto;
    }

    #app {
        height: auto;
        width: auto;
        display: block;
        overflow-x: auto;
    }

    #fp-main {
        overflow: initial;
    }
    #fp-manage {
        display: none;
    }
    #fp-summary {
        display: none;
    }
    #fp-draw {
        display: none;
    }
    #fp-map {
        width: calc(190mm);
        height: calc(277mm/2);
    }
    #fp-map-interactive {
        display: block;
    }
    #fp-map-help {
        display: none;
    }
    #print-section {
        display: block;
    }

    .leaflet-control-attribution {
        display: none;
    }
}
